body{
	margin: 0;
	padding: 0;
}
.form_count_worker{
	height: 100vh;
	display: flex;
	justify-content: center;
  	align-items: center;
  	
}
.count_worker{ 
	background-color: #974;
	padding: 20px 0px;
	border :solid 2px black;
	border-radius: 50px;
	width: 50%;
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
}
span{
	font-size: 2em;
}
.input_count{
	border-radius: 50px;
    width: 30%;
    margin-top: 20px;
    height: 35px;
}
.count_worker input {
	outline:none;
	padding: 0px 10%;
}
.button_count{
	margin-top: 20px;
	border-radius: 50px;
    width: 50%;
    height: 35px;
}
.user{
	height: 100vh;
	display: flex;
	justify-content: center;
  	align-items: center;
}

.users_item{
	background-color: #974;
	padding: 20px 0px;
	border :solid 2px black;
	border-radius: 50px;
	width: 50%;
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
}
.item{
	display: flex;
	flex-direction: column;
}